<h1 class="text-center">Listado de Cursos</h1>
<div class="row">
  {% for course in courses %}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ course.title }}</h5>
        <p class="card-text">{{ course.description }}</p>
        <p class="card-text">
          <small class="text-muted"
            >Duración: {{ course.duration }} horas</small
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<a href="{% url 'create_course' %}" class="btn btn-success mt-3"
  >Crear un nuevo curso</a
>
